<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDRASENA REDDY</title>

    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <link href="{% static 'css/sy1.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 style="text-align: center; text-decoration:underline;font-style: italic;">CHERUKURU INDRASENA REDDY</h1>
                <div>
                    <img align="right" style="width: 100px;" src="{% static '/img/1.jpeg' %}">
                </div>
                <div class="col-1">
                       <b style="font-size: 20px;text-decoration: underline;padding: 10px;display: inline-block;">Contact:</b>
                        <p><b>E-mail:   </b><b>indrasena0018@gmailcom</b></p>
                        <p style="line-height: 0%;"><b style="font-size: 18px;">Phone:</b>   +91 9177468511</p>
                </div>
                <div>
                    <dl>
                        <dt><b style="font-size: 18px;">Follow me on:</b>
                            <a href="https://www.linkedin.com/in/cherukuru-indrasena-reddy-b9717b228" target="_balnk"><img style="width: 20px;" src="{% static 'img/lnd.jpeg' %}"></a>
                            <a href="https://www.instagram.com/i_n_d_r_a_cherukuru/?utm_source=qr" target="_blank"><img style="width: 20px;" src="{% static 'img/th.png' %}"></a>
                            <a href="https://twitter.com/INDRASE77016446" target="_blank"><img style="width: 20px;" src="{% static 'img/tw.jpeg' %}"></a>
                            <a href="https://github.com/Indra211" target="_blank"><img style="width: 20px;" src="{% static 'img/gt.jpeg' %}"></a>
                        </dt>
                    </dl>
                </div>
                <hr/>
            </div>
            <div class="footer">
                <dl>
                    <dt><b>Academic Background:</b>
                        <table border="1" cellspacing="0" cellpadding="1" height="100">
                            <tr>
                                <th>S.No</th>
                                <th>Course</th>
                                <th>College</th>
                                <th>Board/University</th>
                                <th>Percentage/CGPA</th>
                                <th>YOP</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>B.Tech(EEE)</td>
                                <td>Audisankara College of Engineering and Technology,Gudur</td>
                                <td>JNTUA</td>
                                <td>8.28</td>
                                <td>Pursuing(2023)</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Diploma(EEE)</td>
                                <td>Audisankara College of Engineering and Technology,Gudur</td>
                                <td>APSBTET</td>
                                <td>86.00</td>
                                <td>2020</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>SSC</td>
                                <td>Srimannarayan E.M High School,Atmakur</td>
                                <td>BSEAP</td>
                                <td>9.2</td>
                                <td>2017</td>
                            </tr>
                        </table>
                  </dt>
                </dl>
                <hr/>
            </div>
            <div class="row">
                <dl>
                    <dt><b>Experience:</b>
                        <ol>
                            <li>
                                <dt><strong style="font-size:18px">"Back-End Developer":</strong>
                                    <p style="line-height: 0dvb;">At DESTRATUM SOLUTIONS PVT LTD. CHENNAI</p>
                                    <p>Jan(2023)-Present</p>
                                </dt>
                            </li>
                        </ol>
                    </dt>
                </dl>
                <hr/>
                <dl>
                    <dt><b>Technical Skills:</b>
                        <ul><b>
                            <li>Python</li>
                            <li>java</li>
                            <li>Sql(MySql,PostgreSql)</li>
                            <li>Web Development</li>
                            <li>Basics of Cloud</li>
                        </ul></b>
                </dl>
                <dl>
                    <hr/>
                    <dt><b>Strengths:</b>
                        <ul><b>
                            <li>Good Communication Skills</li>
                            <li>Good Teamworker</li>
                            <li>Time management</li>
                            <li>Adoptable Person</li>
                        </ul></b>
                    </dt>
                </dl>
                <dl>
                    <hr/>
                    <dt><b>Interests:</b>
                        <ul><b>
                            <li>coding</li>
                            <li>Playing Fantasy Games</li>
                            <li>Cooking</li>
                        </ul></b>
                    </dt>
                </dl>
                <dl>
                    <hr/>
                    <dt><b>Activities:</b>
                        <ul><b>
                            <li><p>Participated in ENERGY MANAGEMENT conducted by ENERGY SWARAJ FOUNDATION, INDIA.</p></li>
                            <li><p>Participated in AMAZON GO-FUTURE ONLINE SHOPPING conducted by AMAZON</p></li>
                        </ul></b>
                    </dt>
                </dl>
                <hr/>
                <dl>
                    <dt><b>Projects:</b>
                        <ul><b>
                            <li><p>Solar Tracking System USing AURDINO</p></li>
                            <li><p>Automatic Using Street Lightining Using LDR</p></li>
                            <li><p>Create webpage "PGLife" </p></li>
                            <li><p>Developed Musicplayer Using Python</p></li>
                        </ul></b>
                    </dt>
                </dl>
            </div>
        </div>
        <hr/>
        <P style="text-align:center;"><b style="font-style: italic;font-size: 25px;">Thank You Visit Again........</b> </P>
    </body>
</html>
